.nav_li {
  position: relative;
}

.nav_li > .nav_link > a {
  font-size: 1em;
  color: var(--dark-text-col);
  text-decoration: none;
}

.nav_li > .nav_link > a:after {
  content: "";
  position: absolute;
  background-color: var(--accent-hover-col);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: width 0.4s ease;
}

.nav_li:hover > .nav_link > a:after,
.nav_li.active > .nav_link > a:after {
  width: 100%;
}

.nav_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
  padding: 1.3em 1.25em;
  cursor: pointer;
}
